In [2]:
import uproot
import pandas as pd
import numpy as np
from pylorentz import Momentum4

In [2]:
tree_tt = uproot.open("E:\Documents\Imperial\MSci_Project\MSci-Project-HiggsTauTau\shared\MVAFILE_AllHiggs_tt.root")["ntuple"]

In [3]:
tree_tt.keys()

[b'genM',
 b'genpT',
 b'gen_nu_p_1',
 b'gen_nu_p_2',
 b'gen_nu_phi_1',
 b'gen_nu_phi_2',
 b'gen_nu_eta_1',
 b'gen_nu_eta_2',
 b'pt_2',
 b'pt_1',
 b'iso_1',
 b'met',
 b'wt_cp_sm',
 b'wt_cp_ps',
 b'wt_cp_mm',
 b'mva_dm_1',
 b'mva_dm_2',
 b'tau_decay_mode_2',
 b'tau_decay_mode_1',
 b'trg_singleelectron',
 b'trg_singlemuon',
 b'trg_doubletau',
 b'deepTauVsJets_medium_1',
 b'deepTauVsJets_medium_2',
 b'deepTauVsEle_vvloose_1',
 b'deepTauVsEle_vvloose_2',
 b'deepTauVsEle_tight_1',
 b'deepTauVsEle_tight_2',
 b'deepTauVsMu_vloose_1',
 b'deepTauVsMu_vloose_2',
 b'deepTauVsMu_tight_1',
 b'deepTauVsMu_tight_2',
 b'aco_angle_1',
 b'aco_angle_2',
 b'aco_angle_3',
 b'aco_angle_4',
 b'aco_angle_5',
 b'aco_angle_6',
 b'aco_angle_7',
 b'pv_angle',
 b'mass0',
 b'mass1',
 b'mass2',
 b'ip_sig_1',
 b'ip_sig_2',
 b'rand',
 b'tauFlag_1',
 b'tauFlag_2',
 b'gen_phitt',
 b'y_1_1',
 b'y_1_2',
 b'y_2_2',
 b'y_3_2',
 b'y_4_2',
 b'metcov00',
 b'metcov01',
 b'metcov10',
 b'metcov11',
 b'pi_px_1',
 b'pi_py_1',
 b'pi_pz_1',
 b'pi_E_1',
 b'pi2_px_1',
 b'pi2_py_1',
 b'pi2_pz_1',
 b'pi2_E_1',
 b'pi3_px_1',
 b'pi3_py_1',
 b'pi3_pz_1',
 b'pi3_E_1',
 b'pi_px_2',
 b'pi_py_2',
 b'pi_pz_2',
 b'pi_E_2',
 b'pi2_px_2',
 b'pi2_py_2',
 b'pi2_pz_2',
 b'pi2_E_2',
 b'pi3_px_2',
 b'pi3_py_2',
 b'pi3_pz_2',
 b'pi3_E_2',
 b'pi0_px_1',
 b'pi0_py_1',
 b'pi0_pz_1',
 b'pi0_E_1',
 b'pi0_px_2',
 b'pi0_py_2',
 b'pi0_pz_2',
 b'pi0_E_2',
 b'gam1_px_1',
 b'gam1_py_1',
 b'gam1_pz_1',
 b'gam1_E_1',
 b'gam1_px_2',
 b'gam1_py_2',
 b'gam1_pz_2',
 b'gam1_E_2',
 b'gam2_px_1',
 b'gam2_py_1',
 b'gam2_pz_1',
 b'gam2_E_1',
 b'gam2_px_2',
 b'gam2_py_2',
 b'gam2_pz_2',
 b'gam2_E_2',
 b'gam3_px_1',
 b'gam3_py_1',
 b'gam3_pz_1',
 b'gam3_E_1',
 b'gam3_px_2',
 b'gam3_py_2',
 b'gam3_pz_2',
 b'gam3_E_2',
 b'gam4_px_1',
 b'gam4_py_1',
 b'gam4_pz_1',
 b'gam4_E_1',
 b'gam4_px_2',
 b'gam4_py_2',
 b'gam4_pz_2',
 b'gam4_E_2',
 b'metx',
 b'mety',
 b'ip_x_1',
 b'ip_y_1',
 b'ip_z_1',
 b'ip_x_2',
 b'ip_y_2',
 b'ip_z_2',
 b'sv_x_1',
 b'sv_y_1',
 b'sv_z_1',
 b'sv_x_2',
 b'sv_y_2',
 b'sv_z_2',
 b'ipcov00_1',
 b'ipcov01_1',
 b'ipcov02_1',
 b'ipcov10_1',
 b'ipcov11_1',
 b'ipcov12_1',
 b'ipcov20_1',
 b'ipcov21_1',
 b'ipcov22_1',
 b'ipcov00_2',
 b'ipcov01_2',
 b'ipcov02_2',
 b'ipcov10_2',
 b'ipcov11_2',
 b'ipcov12_2',
 b'ipcov20_2',
 b'ipcov21_2',
 b'ipcov22_2',
 b'svcov00_1',
 b'svcov01_1',
 b'svcov02_1',
 b'svcov10_1',
 b'svcov11_1',
 b'svcov12_1',
 b'svcov20_1',
 b'svcov21_1',
 b'svcov22_1',
 b'svcov00_2',
 b'svcov01_2',
 b'svcov02_2',
 b'svcov10_2',
 b'svcov11_2',
 b'svcov12_2',
 b'svcov20_2',
 b'svcov21_2',
 b'svcov22_2']

In [3]:
tree_tt_gen = uproot.open("/vols/cms/dw515/Offline/output/SM/master_gen_ntuple_1502/MVAFILE_tt.root")["ntuple"]

In [3]:
tree_tt_gen.keys()

[b'rand',
 b'wt_cp_sm',
 b'wt_cp_ps',
 b'wt_cp_mm',
 b'pi_px_1',
 b'pi_py_1',
 b'pi_pz_1',
 b'pi_E_1',
 b'pi2_px_1',
 b'pi2_py_1',
 b'pi2_pz_1',
 b'pi2_E_1',
 b'pi3_px_1',
 b'pi3_py_1',
 b'pi3_pz_1',
 b'pi3_E_1',
 b'pi_px_2',
 b'pi_py_2',
 b'pi_pz_2',
 b'pi_E_2',
 b'pi2_px_2',
 b'pi2_py_2',
 b'pi2_pz_2',
 b'pi2_E_2',
 b'pi3_px_2',
 b'pi3_py_2',
 b'pi3_pz_2',
 b'pi3_E_2',
 b'pi0_px_1',
 b'pi0_py_1',
 b'pi0_pz_1',
 b'pi0_E_1',
 b'pi0_px_2',
 b'pi0_py_2',
 b'pi0_pz_2',
 b'pi0_E_2',
 b'sv_x_1',
 b'sv_y_1',
 b'sv_z_1',
 b'sv_x_2',
 b'sv_y_2',
 b'sv_z_2',
 b'dm_1',
 b'dm_2',
 b'metx',
 b'mety']

In [4]:
variables = [
        "wt_cp_sm", "wt_cp_ps", "wt_cp_mm", "rand",
        "dm_1", "dm_2",
        'sv_x_1', 'sv_y_1', 'sv_z_1', 
        'sv_x_2', 'sv_y_2','sv_z_2',
        'ip_x_1', 'ip_y_1', 'ip_z_1', 
        'ip_x_2', 'ip_y_2', 'ip_z_2',
    ]
df_gen = tree_tt_gen.pandas.df(variables)

In [9]:
df_gen_rho_rho = df_gen[(df_gen['dm_1'] == 1) & (df_gen['dm_2'] == 1)]

In [10]:
df_gen_rho_rho.head()

,wt_cp_sm,wt_cp_ps,wt_cp_mm,rand,dm_1,dm_2,sv_x_1,sv_y_1,sv_z_1,sv_x_2,sv_y_2,sv_z_2,ip_x_1,ip_y_1,ip_z_1,ip_x_2,ip_y_2,ip_z_2
entry,,,,,,,,,,,,,,,,,,
4,0.370084,1.765682,1.648769,0.604970,10.0,10.0,-0.304889,-0.132517,0.176034,0.196662,0.151155,0.536159,-0.002426,-0.001189,0.002086,0.002407,-0.003642,-0.000548
12,0.403054,1.167738,0.118793,0.231651,10.0,10.0,-0.197811,-0.480520,-2.195279,0.328749,0.542358,-1.582369,-0.042384,-0.012463,0.003323,-0.000254,0.000397,0.000005
15,0.203289,1.797292,0.414664,0.092664,10.0,10.0,0.743963,-0.425858,-0.487649,-0.123903,0.107171,-0.210013,0.000225,0.000409,0.000054,-0.000597,-0.000029,-0.000244
35,0.115375,1.037540,0.438237,0.959867,10.0,10.0,0.335032,0.625689,0.139962,-0.073669,-0.218105,0.183014,0.001215,-0.000117,-0.002378,0.004287,0.005581,0.001756
36,0.412547,1.816359,1.537121,0.533256,10.0,10.0,-0.147090,0.161241,0.041281,0.090535,-0.101023,-0.196908,0.001215,-0.000117,-0.002378,0.004287,0.005581,0.001756

In [3]:
variables = [
        "wt_cp_sm", "wt_cp_ps", "wt_cp_mm", "rand",
        "mva_dm_1", "mva_dm_2",
        "tau_decay_mode_1", "tau_decay_mode_2",
        'metx', 'mety', 
        'ip_x_1', 'ip_y_1', 'ip_z_1', 
        'ip_x_2', 'ip_y_2', 'ip_z_2',
        'sv_x_1', 'sv_y_1', 'sv_z_1', 
        'sv_x_2', 'sv_y_2','sv_z_2',
        'pv_angle',
        'aco_angle_1','aco_angle_2','aco_angle_3','aco_angle_4','aco_angle_5','aco_angle_6','aco_angle_7', 
        'y_1_1', 'y_1_2', 'y_2_2', 'y_3_2', 'y_4_2',
    ]
df = tree_tt.pandas.df(variables)

In [4]:
df.to_pickle('additional_info.pkl')

In [3]:
df = pd.read_pickle('additional_info.pkl')

In [75]:
df.head()

,wt_cp_sm,wt_cp_ps,wt_cp_mm,rand,mva_dm_1,mva_dm_2,tau_decay_mode_1,tau_decay_mode_2,metx,mety,ip_x_1,ip_y_1,ip_z_1,ip_x_2,ip_y_2,ip_z_2,sv_x_1,sv_y_1,sv_z_1,sv_x_2,sv_y_2,sv_z_2,pv_angle,aco_angle_1,aco_angle_2,aco_angle_3,aco_angle_4,aco_angle_5,aco_angle_6,aco_angle_7,y_1_1,y_1_2,y_2_2,y_3_2,y_4_2
entry,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,0.145634,1.555381,0.524301,0.600541,10,1,10,0,17.121770,26.145668,0.000217,0.000354,-0.000627,0.002864,0.007412,-0.005169,-0.055864,0.222939,0.092661,0.000000,0.000000,0.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,2.927373,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.0,-9999.0,-9999.0
1,0.370084,1.765682,1.648769,0.604970,10,10,10,10,-16.798638,-17.256073,0.006238,-0.004234,0.006636,-0.003519,-0.000472,0.001458,-0.310091,-0.133367,0.178732,0.224309,0.175644,0.615207,1.001255,6.117143,3.275378,5.774408,5.741945,-9999.000000,-9999.000000,-9999.000000,-0.646848,-0.000256,-9999.0,-9999.0,-9999.0
2,0.250608,0.003864,0.132644,0.221678,0,0,0,0,-7.437405,28.831413,0.000418,-0.000685,0.001487,-0.001476,-0.002719,0.002412,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,6.060090,-9999.000000,-9999.000000,-9999.000000,-9999.0,-9999.0,-9999.0
3,0.203289,1.797292,0.414664,0.092664,10,10,10,10,34.286200,-26.962600,0.012066,0.004882,0.015056,-0.001900,-0.001342,0.000295,0.817724,-0.466597,-0.530272,-0.066309,0.058633,-0.109475,5.607971,3.297071,1.853403,1.889128,3.897917,-9999.000000,-9999.000000,-9999.000000,0.642559,-0.790142,-9999.0,-9999.0,-9999.0
4,1.762005,1.012735,1.264719,0.621446,1,2,1,1,-9.549630,-24.920471,-0.001921,-0.000960,-0.006613,0.005561,0.000100,0.008707,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9999.000000,0.007935,-9999.000000,-9999.000000,-9999.000000,4.924345,0.044508,1.411283,-0.894839,0.546100,-9999.0,-9999.0,-9999.0

In [76]:
df_rho_rho = df[(df['mva_dm_1'] == 1) & (df['mva_dm_2'] == 1) & (df["tau_decay_mode_1"] == 1) & (df["tau_decay_mode_2"] == 1)]

In [77]:
pd.set_option('display.max_columns', None)

In [78]:
df_rho_rho.head()

,wt_cp_sm,wt_cp_ps,wt_cp_mm,rand,mva_dm_1,mva_dm_2,tau_decay_mode_1,tau_decay_mode_2,metx,mety,ip_x_1,ip_y_1,ip_z_1,ip_x_2,ip_y_2,ip_z_2,sv_x_1,sv_y_1,sv_z_1,sv_x_2,sv_y_2,sv_z_2,pv_angle,aco_angle_1,aco_angle_2,aco_angle_3,aco_angle_4,aco_angle_5,aco_angle_6,aco_angle_7,y_1_1,y_1_2,y_2_2,y_3_2,y_4_2
entry,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
8,1.228852,0.950417,0.223672,0.861532,1,1,1,1,22.520916,19.846209,-0.003927,-0.001750,0.006455,0.003345,0.000417,-0.012070,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,2.657029,-9999.0,-9999.0,-9999.0,1.509938,3.327978,4.475070,-0.637964,-0.708372,-9999.0,-9999.0,-9999.0
25,0.124674,1.936855,1.318387,0.932849,1,1,1,1,29.431940,-4.351746,-0.001310,0.006071,0.004181,-0.007126,0.006137,-0.004593,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,1.547246,-9999.0,-9999.0,-9999.0,3.710838,4.023599,1.860006,0.254573,0.594557,-9999.0,-9999.0,-9999.0
27,1.461517,0.400455,0.172710,0.132842,1,1,1,1,23.547763,9.199062,-0.009182,-0.004744,0.006723,-0.010568,0.009932,-0.005184,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,3.750274,-9999.0,-9999.0,-9999.0,3.446808,2.489589,2.793055,0.638590,0.529623,-9999.0,-9999.0,-9999.0
45,0.059870,0.061072,0.111744,0.514073,1,1,1,1,8.986096,4.035721,0.011873,0.001333,0.005862,-0.027225,-0.009527,0.018453,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,1.192612,-9999.0,-9999.0,-9999.0,2.157516,2.071870,1.106966,-0.572846,0.899114,-9999.0,-9999.0,-9999.0
50,0.654131,0.931771,0.072470,0.504356,1,1,1,1,9.445943,-2.117590,-0.003312,0.001791,0.009937,0.003434,-0.000035,0.014993,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,3.264792,-9999.0,-9999.0,-9999.0,2.106487,0.394414,1.552719,-0.054617,-0.132105,-9999.0,-9999.0,-9999.0

In [57]:
df_rho_a1 = df[(df['mva_dm_1'] == 1) & (df['mva_dm_2'] == 10) & (df["tau_decay_mode_1"] == 1)]

In [58]:
df_rho_a1.head()

,wt_cp_sm,wt_cp_ps,wt_cp_mm,rand,mva_dm_1,mva_dm_2,tau_decay_mode_1,tau_decay_mode_2,metx,mety,sv_x_1,sv_y_1,sv_z_1,sv_x_2,sv_y_2,sv_z_2,pv_angle,aco_angle_1,aco_angle_2,aco_angle_3,aco_angle_4,aco_angle_5,aco_angle_6,aco_angle_7,y_1_1,y_1_2,y_2_2,y_3_2,y_4_2
entry,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
84,1.054828,0.426911,1.284706,0.720768,1,10,1,10,-3.843581,16.046088,0.0,0.0,0.0,0.537517,0.513830,-1.507642,-9999.0,0.448291,3.718920,0.346329,0.499741,-9999.0,-9999.0,-9999.0,0.521097,-0.756186,-0.205575,-0.367849,-0.939341
112,1.389296,1.375229,0.823178,0.062696,1,10,1,10,-23.562019,-12.520158,0.0,0.0,0.0,-0.044614,-0.837997,-2.299997,-9999.0,5.195203,1.973617,2.123728,5.183756,-9999.0,-9999.0,-9999.0,0.661192,-0.226584,-0.279017,0.128557,-0.489983
137,1.746559,0.138269,0.658890,0.528590,1,10,1,10,-29.658831,-22.465419,0.0,0.0,0.0,-0.504805,-0.000781,-0.054147,-9999.0,6.187443,4.796358,5.948013,0.512402,-9999.0,-9999.0,-9999.0,-0.429560,-0.724265,-0.514227,-0.635827,-0.734281
150,1.215505,0.529970,0.309630,0.712083,1,10,1,10,18.238666,-25.343152,0.0,0.0,0.0,0.000154,-0.000044,-0.001272,-9999.0,2.946159,1.101162,3.938351,2.799188,-9999.0,-9999.0,-9999.0,0.539491,0.738505,-0.427023,0.241045,0.185623
161,0.281364,1.826692,0.573262,0.287648,1,10,1,10,15.585030,-17.076106,0.0,0.0,0.0,-0.001990,0.110368,-0.022747,-9999.0,3.335559,2.259711,2.474115,0.265199,-9999.0,-9999.0,-9999.0,-0.220830,0.539584,0.108159,0.809000,-0.118618

In [59]:
df_a1_a1 = df[(df['mva_dm_1'] == 10) & (df['mva_dm_2'] == 10)]

In [60]:
df_a1_a1.head()

,wt_cp_sm,wt_cp_ps,wt_cp_mm,rand,mva_dm_1,mva_dm_2,tau_decay_mode_1,tau_decay_mode_2,metx,mety,sv_x_1,sv_y_1,sv_z_1,sv_x_2,sv_y_2,sv_z_2,pv_angle,aco_angle_1,aco_angle_2,aco_angle_3,aco_angle_4,aco_angle_5,aco_angle_6,aco_angle_7,y_1_1,y_1_2,y_2_2,y_3_2,y_4_2
entry,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0.370084,1.765682,1.648769,0.604970,10,10,10,10,-16.798638,-17.256073,-0.310091,-0.133367,0.178732,0.224309,0.175644,0.615207,1.001255,6.117143,3.275378,5.774408,5.741945,-9999.0,-9999.0,-9999.0,-0.646848,-0.000256,-9999.0,-9999.0,-9999.0
3,0.203289,1.797292,0.414664,0.092664,10,10,10,10,34.286200,-26.962600,0.817724,-0.466597,-0.530272,-0.066309,0.058633,-0.109475,5.607971,3.297071,1.853403,1.889128,3.897917,-9999.0,-9999.0,-9999.0,0.642559,-0.790142,-9999.0,-9999.0,-9999.0
12,0.412547,1.816359,1.537121,0.533256,10,10,11,10,-3.531444,-6.047870,0.078595,-0.086176,-0.164217,-0.155510,0.175243,0.051742,0.217772,0.924842,6.147118,3.386153,1.033411,-9999.0,-9999.0,-9999.0,0.195010,0.344665,-9999.0,-9999.0,-9999.0
13,1.000000,1.000000,1.000000,0.666072,10,10,10,10,18.191791,-22.915983,-0.093552,0.001938,-0.049048,-1.102329,-1.106432,0.026094,3.317608,3.661648,3.979854,1.517844,6.017785,-9999.0,-9999.0,-9999.0,0.087603,-0.183561,-9999.0,-9999.0,-9999.0
32,1.000000,1.000000,1.000000,0.960308,10,10,10,10,7.373851,0.245478,0.019370,-0.033501,-0.006299,-0.056976,0.109527,-0.009077,4.160679,4.637460,2.571893,0.048228,4.116066,-9999.0,-9999.0,-9999.0,0.521697,-0.037144,-9999.0,-9999.0,-9999.0

## load current aco angles

In [66]:
input_rho_rho = np.load("E:\Documents\Imperial\MSci_Project\MSci-Project-HiggsTauTau\shared\input_df_reco\input_rho_rho.pkl", allow_pickle=True)

In [72]:
df_rho_rho.aco_angle_1

entry
8           2.657029
25          1.547246
27          3.750274
45          1.192612
50          3.264792
              ...
10103549    0.277067
10103574    1.115490
10103592    4.993271
10103593    2.631089
10103602    4.354135
Name: aco_angle_1, Length: 998268, dtype: float64

In [67]:
input_rho_rho.columns

Index(['pi_E_1_br', 'pi_px_1_br', 'pi_py_1_br', 'pi_pz_1_br', 'pi_E_2_br',
       'pi_px_2_br', 'pi_py_2_br', 'pi_pz_2_br', 'pi0_E_1_br', 'pi0_px_1_br',
       'pi0_py_1_br', 'pi0_pz_1_br', 'pi0_E_2_br', 'pi0_px_2_br',
       'pi0_py_2_br', 'pi0_pz_2_br', 'rho_E_1_br', 'rho_px_1_br',
       'rho_py_1_br', 'rho_pz_1_br', 'rho_E_2_br', 'rho_px_2_br',
       'rho_py_2_br', 'rho_pz_2_br', 'aco_angle_1_calc', 'y_rho_1', 'y_rho_2',
       'w_a', 'w_b', 'm_rho_1', 'm_rho_2'],
      dtype='object')

In [5]:
input_rho_a1 = np.load("E:\Documents\Imperial\MSci_Project\MSci-Project-HiggsTauTau\shared\input_df_reco\input_rho_a1.pkl", allow_pickle=True)