# test 1

In [1]:
import uproot
import pandas as pd
import numpy as np

In [2]:
df = pd.read_pickle('input_df/input_rho_rho.pkl')

In [3]:
df.columns

Index(['pi_E_1_br', 'pi_px_1_br', 'pi_py_1_br', 'pi_pz_1_br', 'pi_E_2_br',
       'pi_px_2_br', 'pi_py_2_br', 'pi_pz_2_br', 'pi0_E_1_br', 'pi0_px_1_br',
       'pi0_py_1_br', 'pi0_pz_1_br', 'pi0_E_2_br', 'pi0_px_2_br',
       'pi0_py_2_br', 'pi0_pz_2_br', 'rho_E_1_br', 'rho_px_1_br',
       'rho_py_1_br', 'rho_pz_1_br', 'rho_E_2_br', 'rho_px_2_br',
       'rho_py_2_br', 'rho_pz_2_br', 'aco_angle_1', 'y_1_1', 'y_1_2', 'w_a',
       'w_b', 'm_1', 'm_2'],
      dtype='object')

In [8]:
df.head()

,pi_E_1_br,pi_px_1_br,pi_py_1_br,pi_pz_1_br,pi_E_2_br,pi_px_2_br,pi_py_2_br,pi_pz_2_br,pi0_E_1_br,pi0_px_1_br,...,rho_px_2_br,rho_py_2_br,rho_pz_2_br,aco_angle_1,y_1_1,y_1_2,w_a,w_b,m_1,m_2
entry,,,,,,,,,,,,,,,,,,,,,
8,38.866249,0.429429,-0.133119,38.863398,40.456445,-0.509745,-0.094749,-40.452882,8.569687,-0.429429,...,2.442491e-14,5.329071e-14,-47.420221,2.657029,-0.637964,-0.708372,1.228852,0.950417,1.220952,1.512969
25,17.175150,0.213861,0.469040,17.166846,9.529103,0.210109,-0.089910,-9.525340,29.088943,-0.213861,...,5.329071e-15,-1.154632e-14,-46.250908,1.547246,0.254573,0.594557,0.124674,1.936855,1.104476,0.660891
27,8.526993,0.209425,0.197722,8.520985,10.630995,-0.242771,-0.036193,-10.627246,37.577339,-0.209425,...,2.131628e-14,7.105427e-15,-46.096978,3.750274,0.638590,0.529623,1.461517,0.400455,0.823420,0.669092
45,41.836730,-0.050458,-0.144726,41.836217,2.599469,0.099976,0.004286,-2.593793,11.395560,0.050458,...,4.352074e-14,-3.197442e-14,-53.229947,1.192612,-0.572846,0.899114,0.059870,0.061072,0.499415,0.796268
50,23.455746,0.115471,-0.337611,23.452617,25.232731,-0.068646,0.327903,-25.230121,21.066138,-0.115471,...,-1.143530e-14,-9.547918e-15,-44.515301,3.264792,-0.054617,-0.132105,0.654131,0.931771,0.765599,0.730365

In [9]:
%%time
np.c_[df.pi_E_1_br, df.pi_px_1_br]

Wall time: 10 ms

array([[3.88662492e+01, 4.29429408e-01],
       [1.71751504e+01, 2.13860954e-01],
       [8.52699315e+00, 2.09425230e-01],
       ...,
       [4.80889579e+01, 1.09017298e-01],
       [1.97226794e+00, 2.75777872e-02],
       [1.50065016e+01, 3.16749176e-01]])

# test 2 - need to know exact 4 vector to do boosts properly

In [1]:
import numpy as np
from pylorentz import Momentum4

In [12]:
def getP(mom4):
    arr = np.array([mom4.p_x, mom4.p_y, mom4.p_z])
    return arr/np.linalg.norm(arr)

In [36]:
p_1 = Momentum4(1,100,100,100)
p_2 = Momentum4(1,1,1,-1)
angle = np.arccos(getP(p_1).dot(getP(p_2)))
print(f'angle: {angle}')

angle: 1.2309594173407747

In [37]:
rest_frame = Momentum4(10,1,-1,1)
boost = Momentum4(rest_frame[0], -rest_frame[1], -rest_frame[2], -rest_frame[3])
p_1_boosted = p_1.boost_particle(boost)
p_2_boosted = p_2.boost_particle(boost)

In [38]:
angle_boost = np.arccos(getP(p_1_boosted).dot(getP(p_2_boosted)))
print(f'angle: {angle_boost}')

angle: 1.28273889442413

In [14]:
getP(p_1)

array([0.57735027, 0.57735027, 0.57735027])

## test 3 - getting rotated gen neutrinos

In [1]:
import uproot
import pandas as pd
import numpy as np
from pylorentz import Momentum4

In [7]:
variables = [
        "wt_cp_sm", "wt_cp_ps", "wt_cp_mm", "rand",
        "aco_angle_1", "aco_angle_5", "aco_angle_6", "aco_angle_7",
        "mva_dm_1", "mva_dm_2",
        "tau_decay_mode_1", "tau_decay_mode_2",
        "ip_x_1", "ip_y_1", "ip_z_1", "ip_x_2", "ip_y_2", "ip_z_2",  # ignore impact parameter for now
        "pi_E_1", "pi_px_1", "pi_py_1", "pi_pz_1",
        "pi_E_2", "pi_px_2", "pi_py_2", "pi_pz_2",
        "pi0_E_1", "pi0_px_1", "pi0_py_1", "pi0_pz_1",
        "pi0_E_2", "pi0_px_2", "pi0_py_2", "pi0_pz_2",
        "y_1_1", "y_1_2",
        'met', 'metx', 'mety',
        'metcov00', 'metcov01', 'metcov10', 'metcov11',
        #             'sv_x_1', 'sv_y_1', 'sv_z_1', 'sv_x_2', 'sv_y_2','sv_z_2'
    ]
variables += ["gen_nu_p_1", "gen_nu_phi_1", "gen_nu_eta_1", #leading neutrino, gen level
            "gen_nu_p_2", "gen_nu_phi_2", "gen_nu_eta_2" #subleading neutrino, gen level
             ]
tree_tt = uproot.open("E:\Documents\Imperial\MSci_Project\MSci-Project-HiggsTauTau\shared\MVAFILE_AllHiggs_tt.root")["ntuple"]
df = tree_tt.pandas.df(variables)

In [9]:
df.columns

Index(['wt_cp_sm', 'wt_cp_ps', 'wt_cp_mm', 'rand', 'aco_angle_1',
       'aco_angle_5', 'aco_angle_6', 'aco_angle_7', 'mva_dm_1', 'mva_dm_2',
       'tau_decay_mode_1', 'tau_decay_mode_2', 'ip_x_1', 'ip_y_1', 'ip_z_1',
       'ip_x_2', 'ip_y_2', 'ip_z_2', 'pi_E_1', 'pi_px_1', 'pi_py_1', 'pi_pz_1',
       'pi_E_2', 'pi_px_2', 'pi_py_2', 'pi_pz_2', 'pi0_E_1', 'pi0_px_1',
       'pi0_py_1', 'pi0_pz_1', 'pi0_E_2', 'pi0_px_2', 'pi0_py_2', 'pi0_pz_2',
       'y_1_1', 'y_1_2', 'met', 'metx', 'mety', 'metcov00', 'metcov01',
       'metcov10', 'metcov11', 'gen_nu_p_1', 'gen_nu_phi_1', 'gen_nu_eta_1',
       'gen_nu_p_2', 'gen_nu_phi_2', 'gen_nu_eta_2'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10103610 entries, 0 to 10103609
Data columns (total 49 columns):
 #   Column            Dtype
---  ------            -----
 0   wt_cp_sm          float64
 1   wt_cp_ps          float64
 2   wt_cp_mm          float64
 3   rand              float64
 4   aco_angle_1       float64
 5   aco_angle_5       float64
 6   aco_angle_6       float64
 7   aco_angle_7       float64
 8   mva_dm_1          int32
 9   mva_dm_2          int32
 10  tau_decay_mode_1  int32
 11  tau_decay_mode_2  int32
 12  ip_x_1            float64
 13  ip_y_1            float64
 14  ip_z_1            float64
 15  ip_x_2            float64
 16  ip_y_2            float64
 17  ip_z_2            float64
 18  pi_E_1            float64
 19  pi_px_1           float64
 20  pi_py_1           float64
 21  pi_pz_1           float64
 22  pi_E_2            float64
 23  pi_px_2           float64
 24  pi_py_2           float64
 25  pi_pz_2           float64
 26  pi0_E_1           float64
 27  pi0_px_1          float64
 28  pi0_py_1          float64
 29  pi0_pz_1          float64
 30  pi0_E_2           float64
 31  pi0_px_2          float64
 32  pi0_py_2          float64
 33  pi0_pz_2          float64
 34  y_1_1             float64
 35  y_1_2             float64
 36  met               float64
 37  metx              float64
 38  mety              float64
 39  metcov00          float32
 40  metcov01          float32
 41  metcov10          float32
 42  metcov11          float32
 43  gen_nu_p_1        float64
 44  gen_nu_phi_1      float64
 45  gen_nu_eta_1      float64
 46  gen_nu_p_2        float64
 47  gen_nu_phi_2      float64
 48  gen_nu_eta_2      float64
dtypes: float32(4), float64(41), int32(4)
memory usage: 3.4 GB

In [12]:
df.to_pickle('../shared/misc/df_tt_rho_rho_withgen.pkl')

In [15]:
nu_1 = Momentum4.m_eta_phi_p(np.zeros(len(df["gen_nu_phi_1"])), df["gen_nu_eta_1"], df["gen_nu_phi_1"], df["gen_nu_p_1"])

C:\Users\Stanley\.conda\envs\msci\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: overflow encountered in exp
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [27]:
nu_1[3][nu_1[3] == 9999] = np.nan

In [17]:
df = pd.read_pickle('../shared/df_tt_rho_rho.pkl')
df = df[(df['mva_dm_1'] == 1) & (df['mva_dm_2'] == 1) & (df["tau_decay_mode_1"] == 1) & (df["tau_decay_mode_2"] == 1)]

In [18]:
df.shape

(998268, 40)

In [13]:
df = pd.read_pickle('../shared/misc/df_tt_rho_rho_withgen.pkl')
df1 = df[(df['mva_dm_1'] == 1) & (df['mva_dm_2'] == 1) & (df["tau_decay_mode_1"] == 1) & (df["tau_decay_mode_2"] == 1)]

In [11]:
df2 = pd.read_pickle('../stanley/df_saved/rho_rho/df_rho_rho.pkl')

In [14]:
df1.shape

(998268, 49)

In [12]:
df2.shape

(998268, 27)

In [21]:
df3 = pd.read_pickle('../shared/input_df_reco/input_rho_rho.pkl')

In [25]:
df3.shape

(998268, 31)

In [24]:
df3.columns

Index(['pi_E_1_br', 'pi_px_1_br', 'pi_py_1_br', 'pi_pz_1_br', 'pi_E_2_br',
       'pi_px_2_br', 'pi_py_2_br', 'pi_pz_2_br', 'pi0_E_1_br', 'pi0_px_1_br',
       'pi0_py_1_br', 'pi0_pz_1_br', 'pi0_E_2_br', 'pi0_px_2_br',
       'pi0_py_2_br', 'pi0_pz_2_br', 'rho_E_1_br', 'rho_px_1_br',
       'rho_py_1_br', 'rho_pz_1_br', 'rho_E_2_br', 'rho_px_2_br',
       'rho_py_2_br', 'rho_pz_2_br', 'aco_angle_1', 'y_1_1', 'y_1_2', 'w_a',
       'w_b', 'm_1', 'm_2'],
      dtype='object')

In [2]:
df = pd.read_pickle('../shared/misc/df_br.pkl')

In [12]:
df.columns

Index(['entry', 'pi_E_1_br', 'pi_px_1_br', 'pi_py_1_br', 'pi_pz_1_br',
       'pi_E_2_br', 'pi_px_2_br', 'pi_py_2_br', 'pi_pz_2_br', 'pi0_E_1_br',
       'pi0_px_1_br', 'pi0_py_1_br', 'pi0_pz_1_br', 'pi0_E_2_br',
       'pi0_px_2_br', 'pi0_py_2_br', 'pi0_pz_2_br', 'rho_E_1_br',
       'rho_px_1_br', 'rho_py_1_br', 'rho_pz_1_br', 'rho_E_2_br',
       'rho_px_2_br', 'rho_py_2_br', 'rho_pz_2_br', 'aco_angle_1', 'y_1_1',
       'y_1_2', 'w_a', 'w_b', 'm_1', 'm_2', 'y', 'alpha_1', 'alpha_2',
       'E_nu_1', 'E_nu_2', 'p_t_nu_1', 'p_t_nu_2', 'p_z_nu_1', 'p_z_nu_2',
       'flag'],
      dtype='object')

In [7]:
df['flag'] = np.where( (df['p_t_nu_1']==-1) | (df['alpha_1']==-1) | (df['p_t_nu_2']==-1) | (df['alpha_2']==-1), 0, 1)

In [8]:
df.head()

,entry,pi_E_1_br,pi_px_1_br,pi_py_1_br,pi_pz_1_br,pi_E_2_br,pi_px_2_br,pi_py_2_br,pi_pz_2_br,pi0_E_1_br,...,y,alpha_1,alpha_2,E_nu_1,E_nu_2,p_t_nu_1,p_t_nu_2,p_z_nu_1,p_z_nu_2,flag
0,27,-9.520570,-0.281322,0.061643,9.515190,-9.520570,0.281322,-0.061643,-9.515190,-41.965766,...,1.0,3.503546,0.809264,-180.362635,-33.418774,0.594328,1.071559,180.361656,-33.401590,1
1,74,-15.212249,-0.285148,0.007680,15.208934,-15.212249,0.285148,-0.007680,-15.208934,-56.900663,...,1.0,3.717141,1.987254,-268.040429,-68.124183,1.063017,0.966009,268.038321,-68.117334,1
2,138,-17.769221,0.134191,-0.341849,17.764878,-17.769221,-0.134191,0.341849,-17.764878,-34.984946,...,1.0,0.338910,0.740946,-17.897843,-40.656159,0.869873,-1.000000,17.876692,-40.678914,0
3,177,-23.653185,-0.363155,-0.007247,23.649985,-23.653185,0.363155,0.007247,-23.649985,-51.433946,...,1.0,-2.188768,0.330466,164.311542,-10.552404,-1.000000,0.904721,-164.338085,-10.513549,0
4,184,-32.404365,0.419282,0.107584,32.401174,-32.404365,-0.419282,-0.107584,-32.401174,-12.539431,...,1.0,-1.916185,0.355058,86.053289,-14.615731,-1.000000,0.969338,-86.098811,-14.583551,0

In [11]:
df['flag'].sum()/len(df['flag'])

0.23723862036293772

In [20]:
p_z_nu_1 = df.alpha_1[0]*(df.pi_pz_1_br[0] + df.pi0_pz_1_br[0])
i = 0
E_nu_1 = (125.18**2 - (df.pi_E_1_br[i] + df.pi0_E_1_br[i])**2 + (df.pi_pz_1_br[i] + df.pi0_pz_1_br[i])** 2 + 2*p_z_nu_1*(df.pi_pz_1_br[i] + df.pi0_pz_1_br[i]))/(2*(df.pi_E_1_br[i] + df.pi0_E_1_br[i]))
p_z_nu_1
E_nu_1

194.85291640160656

In [21]:
p_t_nu_1 = np.sqrt(np.array(E_nu_1)**2 - np.array(p_z_nu_1)**2)

<ipython-input-21-c4efc2a59d34>:1: RuntimeWarning: invalid value encountered in sqrt
  p_t_nu_1 = np.sqrt(np.array(E_nu_1)**2 - np.array(p_z_nu_1)**2)

In [22]:
np.abs(E_nu_1) < np.abs(p_z_nu_1)

True