In [58]:
import uproot
import pandas as pd
import numpy as np
from pylorentz import Momentum4

## testing rho_a1 channel

In [24]:
df = pd.read_pickle('../shared/df_tt_rho_a1.pkl')

In [25]:
df = df[(df['mva_dm_1'] == 1) & (df['mva_dm_2'] == 10) & (df["tau_decay_mode_1"] == 1)]

In [7]:
df.head()

,wt_cp_sm,wt_cp_ps,wt_cp_mm,rand,aco_angle_1,mva_dm_1,mva_dm_2,tau_decay_mode_1,tau_decay_mode_2,pi_E_1,...,pi3_pz_2,pi3_E_2,ip_x_1,ip_y_1,ip_z_1,sv_x_2,sv_y_2,sv_z_2,y_1_1,y_1_2
entry,,,,,,,,,,,,,,,,,,,,,
84,1.054828,0.426911,1.284706,0.720768,0.448291,1,10,1,10,62.296712,...,-21.745945,24.261825,-0.001220,0.000906,0.000485,0.537517,0.513830,-1.507642,0.521097,-0.756186
112,1.389296,1.375229,0.823178,0.062696,5.195203,1,10,1,10,129.736484,...,-30.046129,31.985978,0.000085,0.000676,0.000180,-0.044614,-0.837997,-2.299997,0.661192,-0.226584
137,1.746559,0.138269,0.658890,0.528590,6.187443,1,10,1,10,21.586403,...,-1.955230,18.448186,-0.001082,-0.000616,-0.001638,-0.504805,-0.000781,-0.054147,-0.429560,-0.724265
150,1.215505,0.529970,0.309630,0.712083,2.946159,1,10,1,10,48.320095,...,26.473766,30.532808,-0.005581,-0.002263,0.006209,0.000154,-0.000044,-0.001272,0.539491,0.738505
161,0.281364,1.826692,0.573262,0.287648,3.335559,1,10,1,10,37.798816,...,-0.489866,3.143108,-0.000051,-0.002134,0.001211,-0.001990,0.110368,-0.022747,-0.220830,0.539584

In [26]:
df.drop(['wt_cp_sm', 'wt_cp_ps', 'wt_cp_mm', 'rand', 'aco_angle_1', 'mva_dm_1', 'mva_dm_2', 'tau_decay_mode_1', 'tau_decay_mode_2'], axis=1, inplace=True)

## testing a1_a1 channel

In [146]:
df = pd.read_pickle('../shared/df_tt_a1_a1.pkl')

In [147]:
df = df[(df['mva_dm_1'] == 10) & (df['mva_dm_2'] == 10)]

In [31]:
df = df.loc[~(df['pi_px_1'] == 0)]

In [139]:
df = df.loc[~(df==0).all(axis=1)]

In [144]:
df = df[(df != 0).all(1)]

In [151]:
df.shape[0] - df[(df != 0).all(1)].shape[0]

11549

In [152]:
df.shape[0]

361676

In [33]:
df.head()

,wt_cp_sm,wt_cp_ps,wt_cp_mm,rand,aco_angle_1,mva_dm_1,mva_dm_2,tau_decay_mode_1,tau_decay_mode_2,pi_E_1,...,pi3_pz_2,pi3_E_2,ip_x_1,ip_y_1,ip_z_1,sv_x_2,sv_y_2,sv_z_2,y_1_1,y_1_2
entry,,,,,,,,,,,,,,,,,,,,,
1,0.370084,1.765682,1.648769,0.604970,6.117143,10,10,10,10,5.463920,...,50.083434,55.283111,0.006238,-0.004234,0.006636,0.224309,0.175644,0.615207,-0.646848,-0.000256
3,0.203289,1.797292,0.414664,0.092664,3.297071,10,10,10,10,39.206211,...,-17.588130,22.499728,0.012066,0.004882,0.015056,-0.066309,0.058633,-0.109475,0.642559,-0.790142
12,0.412547,1.816359,1.537121,0.533256,0.924842,10,10,11,10,30.358725,...,1.320237,8.502720,0.004377,0.003232,0.000308,-0.155510,0.175243,0.051742,0.195010,0.344665
13,1.000000,1.000000,1.000000,0.666072,3.661648,10,10,10,10,19.221223,...,0.152410,3.032439,0.000310,0.001501,-0.000524,-1.102329,-1.106432,0.026094,0.087603,-0.183561
32,1.000000,1.000000,1.000000,0.960308,4.637460,10,10,10,10,33.953942,...,-0.208569,16.751880,0.000256,-0.000595,-0.009137,-0.056976,0.109527,-0.009077,0.521697,-0.037144

In [118]:
df.columns

Index(['wt_cp_sm', 'wt_cp_ps', 'wt_cp_mm', 'rand', 'aco_angle_1', 'mva_dm_1',
       'mva_dm_2', 'tau_decay_mode_1', 'tau_decay_mode_2', 'pi_E_1', 'pi_px_1',
       'pi_py_1', 'pi_pz_1', 'pi_E_2', 'pi_px_2', 'pi_py_2', 'pi_pz_2',
       'pi2_E_1', 'pi2_px_1', 'pi2_py_1', 'pi2_pz_1', 'pi3_E_1', 'pi3_px_1',
       'pi3_py_1', 'pi3_pz_1', 'pi2_px_2', 'pi2_py_2', 'pi2_pz_2', 'pi2_E_2',
       'pi3_px_2', 'pi3_py_2', 'pi3_pz_2', 'pi3_E_2', 'ip_x_1', 'ip_y_1',
       'ip_z_1', 'sv_x_2', 'sv_y_2', 'sv_z_2', 'y_1_1', 'y_1_2'],
      dtype='object')

In [145]:
(df.pi3_E_2==0).sum()

0

In [99]:
input_df = np.load('../shared/input_df_reco/input_a1_a1_b.pkl', allow_pickle=True)

In [100]:
input_df.columns

Index(['pi_E_1_br', 'pi_px_1_br', 'pi_py_1_br', 'pi_pz_1_br', 'pi2_E_1_br',
       'pi2_px_1_br', 'pi2_py_1_br', 'pi2_pz_1_br', 'pi3_E_1_br',
       'pi3_px_1_br', 'pi3_py_1_br', 'pi3_pz_1_br', 'pi_E_2_br', 'pi_px_2_br',
       'pi_py_2_br', 'pi_pz_2_br', 'pi2_E_2_br', 'pi2_px_2_br', 'pi2_py_2_br',
       'pi2_pz_2_br', 'pi3_E_2_br', 'pi3_px_2_br', 'pi3_py_2_br',
       'pi3_pz_2_br', 'rho0_E_1_br', 'rho0_px_1_br', 'rho0_py_1_br',
       'rho0_pz_1_br', 'rho02_E_1_br', 'rho02_px_1_br', 'rho02_py_1_br',
       'rho02_pz_1_br', 'rho0_E_2_br', 'rho0_px_2_br', 'rho0_py_2_br',
       'rho0_pz_2_br', 'rho02_E_2_br', 'rho02_px_2_br', 'rho02_py_2_br',
       'rho02_pz_2_br', 'a1_1_E_br', 'a1_1_px_br', 'a1_1_py_br', 'a1_1_pz_br',
       'a1_2_E_br', 'a1_2_px_br', 'a1_2_py_br', 'a1_2_pz_br',
       'aco_angle_1_calc', 'aco_angle_2_calc', 'aco_angle_3_calc',
       'aco_angle_4_calc', 'aco_angle_5_calc', 'aco_angle_6_calc',
       'aco_angle_7_calc', 'aco_angle_8_calc', 'aco_angle_9_calc',
       'aco_angle_10_calc', 'aco_angle_11_calc', 'aco_angle_12_calc',
       'aco_angle_13_calc', 'aco_angle_14_calc', 'aco_angle_15_calc',
       'aco_angle_16_calc', 'y_rho0_1', 'y_rho02_1', 'y_rho_2', 'y_rho0_2',
       'y_a1_1', 'y_a12_1', 'y_a1_2', 'y_a12_2', 'w_a', 'w_b', 'm_rho0_2',
       'm_rho02_2', 'm_a1_1', 'y'],
      dtype='object')

In [101]:
input_df

,pi_E_1_br,pi_px_1_br,pi_py_1_br,pi_pz_1_br,pi2_E_1_br,pi2_px_1_br,pi2_py_1_br,pi2_pz_1_br,pi3_E_1_br,pi3_px_1_br,...,y_a1_1,y_a12_1,y_a1_2,y_a12_2,w_a,w_b,m_rho0_2,m_rho02_2,m_a1_1,y
0,30.843008,0.279076,-0.309237,30.839880,6.863761,-0.017648,0.248673,6.857813,19.901566,-0.261428,...,-0.410947,0.085937,-0.211866,-0.851136,0.203289,1.797292,0.805870,0.523068,1.436636,1.0
1,29.650523,0.228489,-0.302615,29.647770,4.766858,-0.082243,0.180703,4.760677,21.286163,-0.146246,...,-0.513250,0.170540,0.264508,-0.612069,0.866395,1.285598,0.705912,0.690861,1.175814,1.0
2,10.818686,0.029466,0.220661,10.815496,22.274450,0.104622,-0.518389,22.267734,18.309611,-0.134087,...,-0.405080,-0.398793,-0.340799,-0.494235,1.497267,0.572723,0.672434,0.623396,1.077125,1.0
3,10.140170,-0.362452,0.218593,10.130371,22.333510,0.025975,-0.091456,22.332872,19.201077,0.336477,...,-0.422135,-0.628660,0.123687,-1.116499,1.000000,1.000000,0.752522,0.678932,1.385947,1.0
4,9.080395,0.143184,0.252257,9.074688,37.672213,-0.011370,-0.338490,37.670432,3.514590,-0.131814,...,0.122113,-1.065279,-0.333493,-0.519113,1.567548,0.289392,0.801795,0.848893,1.197392,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356179,10.404119,0.010152,-0.241036,10.400386,31.454832,-0.121377,0.505757,31.450222,16.315974,0.111225,...,-0.282329,-0.614950,-0.152368,-0.951266,0.588880,1.947424,0.748776,0.447926,0.948281,0.0
356180,28.180133,0.051321,-0.179386,28.179320,10.479366,-0.047451,0.223350,10.475949,2.214514,-0.003870,...,0.184374,-0.188229,-0.055246,-0.851307,0.725704,1.308365,0.756177,0.287858,0.992147,0.0
356181,10.718728,-0.172041,-0.454780,10.706785,10.332330,0.200009,0.213662,10.327242,17.268542,-0.027969,...,-0.617302,-0.280185,-0.469567,-0.469099,0.447840,1.548948,0.749250,0.715980,1.193968,0.0
356182,38.795742,-0.318117,-0.280051,38.793176,8.967441,0.176647,0.215738,8.962019,2.292018,0.141470,...,0.201938,-0.113422,-0.445173,-0.160295,1.758291,0.319215,0.848544,0.342686,1.093205,0.0
356183,27.036227,0.234716,-0.046780,27.034808,3.435202,0.058648,0.208687,3.425515,5.731942,-0.293364,...,0.024567,0.075564,-0.317044,-0.578689,0.930574,1.878766,0.728462,0.698427,1.053826,0.0

In [106]:
input_df.loc[np.isnan(input_df.y_a1_2)]

,pi_E_1_br,pi_px_1_br,pi_py_1_br,pi_pz_1_br,pi2_E_1_br,pi2_px_1_br,pi2_py_1_br,pi2_pz_1_br,pi3_E_1_br,pi3_px_1_br,...,y_a1_1,y_a12_1,y_a1_2,y_a12_2,w_a,w_b,m_rho0_2,m_rho02_2,m_a1_1,y
137,0.353381,-0.139230,-0.291676,0.030834,0.562640,0.530449,-0.022084,-0.123419,0.528713,-0.391219,...,-0.583083,-0.104106,NaN,NaN,1.300255,0.648180,0.0,0.0,0.0,1.0
289,0.284193,0.218872,-0.007285,-0.115499,0.465228,-0.019401,0.124102,0.425666,0.411225,-0.199471,...,0.130662,-1.011613,NaN,NaN,1.466178,0.238133,0.0,0.0,0.0,1.0
568,0.598619,-0.460637,0.134580,0.329514,0.255855,0.124481,-0.045113,-0.168712,0.407836,0.336156,...,-0.020942,0.074772,NaN,NaN,0.620167,0.168029,0.0,0.0,0.0,1.0
621,0.573746,-0.313055,0.460103,0.004333,0.310969,0.237611,-0.070504,-0.171285,0.452570,0.075444,...,-0.640339,-0.212883,NaN,NaN,1.000000,1.000000,0.0,0.0,0.0,1.0
705,0.290641,-0.005884,0.236992,0.093833,0.574908,0.063432,-0.298532,-0.466805,0.407032,-0.057548,...,-0.856892,0.151466,NaN,NaN,1.448881,0.284607,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355897,0.364990,-0.269131,0.185511,0.083091,0.407819,0.180607,-0.209200,-0.265454,0.247228,0.088525,...,0.123496,-0.820668,NaN,NaN,1.687283,0.185730,0.0,0.0,0.0,0.0
355978,0.413531,-0.387583,-0.021273,-0.029439,0.402315,0.248130,0.169052,0.228566,0.316868,0.139454,...,-0.684454,0.130978,NaN,NaN,1.310851,0.629331,0.0,0.0,0.0,0.0
356056,0.426970,-0.197054,0.062061,0.346633,0.379285,-0.042535,-0.009868,-0.349975,0.282145,0.239589,...,-0.139911,-0.914402,NaN,NaN,0.730826,1.731476,0.0,0.0,0.0,0.0
356135,0.293190,-0.153799,0.147880,0.144694,0.517107,0.112057,-0.417990,-0.213030,0.314442,0.041741,...,-0.463319,-0.010921,NaN,NaN,1.000000,1.000000,0.0,0.0,0.0,0.0
356160,0.458566,0.237129,-0.365303,0.033737,0.429426,-0.049764,0.397596,-0.066187,0.238053,-0.187366,...,-0.282411,-0.271886,NaN,NaN,1.000000,1.000000,0.0,0.0,0.0,0.0

In [56]:
import sys
sys.path.append('../shared/')
from data_loader import DataLoader
import config as config
DL = DataLoader(config.variables_a1_a1, 'a1_a1')
DL.createRecoData(True, True)

Loading .root info

FileNotFoundError: [Errno 2] No such file or directory: './df_tt_a1_a1.pkl'

In [115]:
pi_1 = Momentum4(df['pi_E_1'], df["pi_px_1"], df["pi_py_1"], df["pi_pz_1"])
pi2_1 = Momentum4(df['pi2_E_1'], df["pi2_px_1"], df["pi2_py_1"], df["pi2_pz_1"])
pi3_1 = Momentum4(df['pi3_E_1'], df["pi3_px_1"], df["pi3_py_1"], df["pi3_pz_1"])
pi_2 = Momentum4(df['pi_E_2'], df["pi_px_2"], df["pi_py_2"], df["pi_pz_2"])
pi2_2 = Momentum4(df['pi2_E_2'], df["pi2_px_2"], df["pi2_py_2"], df["pi2_pz_2"])
pi3_2 = Momentum4(df['pi3_E_2'], df["pi3_px_2"], df["pi3_py_2"], df["pi3_pz_2"])
a1_1 = pi_1 + pi2_1 + pi3_1
a1_2 = pi_2 + pi2_2 + pi3_2
rho0_1 = pi_1 + pi2_1
rho02_1 = pi_1 + pi3_1
rho0_2 = pi_2 + pi2_2
rho02_2 = pi_2 + pi3_2
rho0_1 = pi_1 + pi2_1
rho02_1 = pi_1 + pi3_1
rho0_2 = pi_2 + pi2_2
rho02_2 = pi_2 + pi3_2
a1_1 = rho0_1 + pi3_1
a1_2 = rho0_2 + pi3_2
# 4 ys from the y_a1 formula due to ambiguities in the 2 a1s
# 2 from the first a1
y_a1_1 = (rho0_1.e - pi3_1.e) / (a1_1.m**2 - pi3_1.m**2 + rho0_1.m) / (2 * a1_1.m**2)
y_a12_1 = (rho02_1.e - pi2_1.e) / (a1_1.m**2 - pi2_1.m**2 + rho02_1.m) / (2 * a1_1.m**2)
# 2 from the second a1
y_a1_2 = (rho0_2.e - pi3_2.e) / (a1_2.m**2 - pi3_2.m**2 + rho0_2.m) / (2 * a1_2.m**2)
y_a12_2 = (rho02_2.e - pi2_2.e) / (a1_2.m**2 - pi2_2.m**2 + rho02_2.m) / (2 * a1_2.m**2)
# 4 ys from the y_rho0 due to ambiguities in the 2 rho0s
# 2 from the first rho0
y_rho0_1 = (pi_1.e - pi2_1.e) / (pi_1.e + pi2_1.e)
y_rho02_1 = (pi_1.e - pi3_1.e) / (pi_1.e + pi3_1.e)
# 2 from the second rho0
y_rho0_2 = (pi_2.e - pi2_2.e) / (pi_2.e + pi2_2.e)
y_rho02_2 = (pi_2.e - pi3_2.e) / (pi_2.e + pi3_2.e)

<ipython-input-115-c2b37df8024a>:24: RuntimeWarning: invalid value encountered in true_divide
  y_a1_2 = (rho0_2.e - pi3_2.e) / (a1_2.m**2 - pi3_2.m**2 + rho0_2.m) / (2 * a1_2.m**2)
<ipython-input-115-c2b37df8024a>:25: RuntimeWarning: invalid value encountered in true_divide
  y_a12_2 = (rho02_2.e - pi2_2.e) / (a1_2.m**2 - pi2_2.m**2 + rho02_2.m) / (2 * a1_2.m**2)
<ipython-input-115-c2b37df8024a>:31: RuntimeWarning: invalid value encountered in true_divide
  y_rho0_2 = (pi_2.e - pi2_2.e) / (pi_2.e + pi2_2.e)
<ipython-input-115-c2b37df8024a>:32: RuntimeWarning: invalid value encountered in true_divide
  y_rho02_2 = (pi_2.e - pi3_2.e) / (pi_2.e + pi3_2.e)

In [64]:
y_a1_1

array([ 1.27951339+0.j,  4.21113741+0.j,  4.75703858+0.j, ...,
       21.01217206+0.j, 15.36998612+0.j, 12.63646352+0.j])

In [67]:
(a1_1.m==0).sum()

0

In [68]:
y_a1_1 = (rho0_1.e - pi3_1.e) / (rho0_1.e + pi3_1.e) - (a1_1.m**2 - pi3_1.m**2 + rho0_1.m**2) / (2 * a1_1.m**2)

In [79]:
pi3_1.m

array([0.13952637+0.j, 0.13952637+0.j, 0.13952637+0.j, ...,
       0.13952637+0.j, 0.13952637+0.j, 0.13952637+0.j])

In [86]:
(pi3_1[0]**2-(pi3_1[1]**2+pi3_1[2]**2+pi3_1[3]**2) < 0).sum()

862

In [89]:
(pi3_1[0]<0).sum()

0

In [91]:
a1_1.m

array([1.26754408, 1.14475985, 1.21219406, ..., 1.32435905, 1.27928908,
       0.92039663])

In [107]:
def getMSquared(four_vector: Momentum4):
        return four_vector[0]**2-(four_vector[1]**2+four_vector[2]**2+four_vector[3]**2)

In [108]:
y_a1_2 = (rho0_2.e - pi3_2.e) / (rho0_2.e + pi3_2.e) - (getMSquared(a1_2) - getMSquared(pi3_2) + getMSquared(rho0_2)) / (2 * getMSquared(a1_2))

<ipython-input-108-62ff8932784e>:1: RuntimeWarning: invalid value encountered in true_divide
  y_a1_2 = (rho0_2.e - pi3_2.e) / (rho0_2.e + pi3_2.e) - (getMSquared(a1_2) - getMSquared(pi3_2) + getMSquared(rho0_2)) / (2 * getMSquared(a1_2))

In [112]:
((rho0_2.e + pi3_2.e)==0).sum()

4159

In [116]:
(pi3_2.e==0).sum()

4159

In [134]:
pi3_2.e == df.pi3_E_2

0